/* Contenedor Raíz */
.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #121212;
}

/* El área de previsualización (donde flotan las hojas) */
.main-preview-area {
  flex: 1;
  overflow-y: auto;
  background-color: #525659;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

@media print {
  /* Al cambiar el display a 'block', el alto de 100vh deja de ser restrictivo 
     y el contenido fluye según su altura natural */
  .app-container {
    display: block;
    height: auto;
    width: auto;
  }

  .main-preview-area {
    display: block;
    overflow: visible;
    background-color: transparent;
    padding: 0;
  }
}