/* Contenedor Raíz */
.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #121212;
}

/* El área de previsualización (donde flotan las hojas) */

.main-preview-area {
  flex: 1;
  height: 100vh;
  overflow-y: auto; /* El scroll sucede acá */
  background-color: #343a40; /* El mismo fondo para que no haya saltos de color */
  display: flex;
}

@media print {
  /* Al cambiar el display a 'block', el alto de 100vh deja de ser restrictivo 
     y el contenido fluye según su altura natural */
  .app-container {
    display: block;
    height: auto;
    width: auto;
  }

  .main-preview-area {
    display: block;
    overflow: visible;
    background-color: transparent;
    padding: 0;
  }
}